
.centered{
	display: block;
    margin: 0 auto;
}

.centered-outer {
  width: 100%;
  text-align: center;
}

.centered-inner {
  display: inline-block;
}

.page{
	height: 100%;
	width: 100%;

	background-color: #56CC81;
}

.navbar{
	margin: 0px;
}

.modal-content{
	border-radius: 0px;
}

.modal-content h1, .modal-content p{
	color: grey;
}

.logo{
	width: 100px;
}

.question{
	display: block;

	margin: 30px;
}

	.vote-score{
		color: white;
		font-size: 15pt;
		font-weight: 500;
	}

.question-mid{
	background-color: rgba(255,255,255,.9);
	color: grey;	
}

	.question-title{
		font-size: 18pt;
	}

	.question-time-info{
	}



