
html{
	background-color: #56CC81;
}

div{
	font-family: 'Roboto';
}

h1,p{
	color: white;
}

.alert{
	color: red;
	font-size: 30pt;
}

.ACVGreen{
	background-color: #56CC81;
}

a{
	color: grey;
}

a:hover{
	color: grey;
}

.centered{
	display: block;
    margin: 0 auto;
}

.centered-outer {
  width: 100%;
  text-align: center;
}

.centered-inner {
  display: inline-block;
}


