
.page{
	height: 100%;
	width: 100%;
	padding-top: 50px;

	background-color: #56CC81;
}

#fourOhFour{
	padding-top: 50px;
}

#fourOhFour p{
	color: black;
}

.navbar{
	margin: 0px;
}

.navbar-logo{
	width: 30px;
}

.modal-content{
	border-radius: 0px;
}

.modal-content h1, .modal-content p{
	color: grey;
}

.logo{
	width: 100px;
}

.question{
	display: block;

	margin: 30px;
}
	
	.vote-button{
		width:30px;
	}

	.vote-score{
		color: white;
		font-size: 15pt;
		font-weight: 500;
	}

.question-mid{
	background-color: rgba(255,255,255,.9);
	color: grey;
	padding: 15px 10px;
	margin: 12px 0px;
}

	.question-title{
		font-size: 18pt;
	}

	.question-time-info{
	}


