

<div class="ACVGreen" ng-controller = "homeController" ng-init="getLocation(); getSession(); getQuestions()">

	<ng-include src="'pages/loginModal.html'"></ng-include>
	<ng-include src="'pages/signupModal.html'"></ng-include>
	<ng-include src="'pages/userModal.html'"></ng-include>


	<div class="banner centered-outer">
		<div class="banner-inner centered-inner">
			<div class="banner-logo">
				<div class ="logo-holder">
					<img class="logo" src="img/ACV-Logo-Banner.png"/>
				</div>
					
				<span class="banner-word">{{myLocation}}</span>
			</div>

			<div class="category-bar">

				<div class="search-section row centered-outer">
					<div class="search-section-content centered-inner">
						<div class="form-group">
							<form ng-submit="postQuestion()">
		        				<input id="questionField" type="text" class="form-control" placeholder="what do you want to know?" ng-model="myQuestionTitle">
		        			</form>
		    			</div>
	    			</div>
				</div>

			</div>
		</div>
		
		<img id="banner-background" src="img/banner-pic-2.png"/>

	</div>

	<div class="questions-section">

		<div class="row question" ng-repeat="question in questions">
			<div>
				<div class="col-xs-1 question-left ACVGreen">
					<a href=""><img class="vote-button" src="img/ACV-Upvote.png"/></a>
					<span class="vote-score">{{question["numRating"]}}</span>
					<a href=""><img class="vote-button" src="img/ACV-Downvote.png"/></a>
				</div>

				<div class="col-xs-11 question-mid">
					<a href=""><span class="question-title">{{question["title"]}}</span></a>
					<span class="question-info">asked in last {{ Math.ceil((currentTime-question["_timestamp"]*1000)/(3600000)) }} hour(s) by <a href="">Anonymous</a></span>
					<span>|</span>
					<a href=""><span class="question-info">0 comments</span></a>
				</div>
			</div>
		</div>

	</div>
	<div id = "show-more"class="centered-outer">
		<div class="centered-inner">
			<button id="show-more-button" class="btn btn-default" ng-click="incrementQuestions(10); getQuestions()">Show Next 10 Questions</button>
		</div>
	</div>

</div>
