
<div id="signupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true" ng-controller="signupController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">

		<input type="text" placeholder="Username" ng-model="myAlias">
    <p></p>
		<input type="text" placeholder="Email" ng-model="myEmail">
    <p></p>
		<input type="text" placeholder="Password" ng-model="myPassword">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addUser()">Sign Up</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->